

.slidingImages{
  height: 70vh;
}

.heading{
  font-style: italic;
}

.cardImages{
  height: 30vh;
}

.cardd{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.cardd:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.background{
  background: linear-gradient(white,rgb(210, 232, 210),rgb(227, 209, 209),rgb(200, 179, 182));
}